
<div class="container">
<form action="/tab/<%=dinner.id%>/total" method="GET">
  <% @dish.each do |d|%>
<form>
  <div>
    <input type="checkbox" id="dish" name="dish_id" value="d.id">
    <label for="dish"><%= d.id%> <%= d.dish_name%> $<%=d.dish_price%></label>
  </div>
</form>
  <% end %>
<button type="submit">submit</button>
</form>
</div>
<br><br>