<div class = "container"><br><br>
<h1>Select an item</h1>
 <% Dish.all(restaurant_id: params[:r_id]).each do |item| %>
 <input type = "radio" name = "dishID" value = '<%= item.id%> '></label>
 <h1><%=item.dish_name%></h1>
 <p><%=item.dish_des%></p>
  <p><%=item.dish_price%></p>

   
 <% end %>
 <input type = "submit" value = "Submit" class = "btn btn-primary">
 </div>