
<div class="container">

  <% @dish.each do |d|%>
<form>
  <div>
    <input type="radio" name="dish" value="<%=d.id%>">
    <label for="dish"><%= d.id%> <%= d.dish_name%> $<%=d.dish_price%></label>
  </div>
  <% end %>
<button type="submit">submit</button>
<br>
</form>
</div>
<br><br>