<div class="container">

  <br><br><h1>Current order:</h1>

  <%t = Tab.first(event_id: @dinner.id,user_id: current_user.id).dish_id %>
  <% d = Dish.first(id: t)%>

  <br><h5><%= d.dish_name %> &nbsp;&nbsp;&nbsp;&nbsp;$<%='%.2f' % d.dish_price %></h5>



</div>


<div class="container">
  <br>

  <form action="/events/<%=@dinner.id %>/deleteOrder/<%=d.id %>" method="POST">
    <input type="submit" value="Delete Order" class="btn btn-primary"</input>
  </form>
</div>