<div class ="container">


  <br><br>

  <h1>Complete Order</h1><br>
  <div class="row">

  <%num =0 %>
  <% Tab.all(event_id: @dinner.id).each do |s| %>
    <% cost = (Dish.first(id: s.dish_id).dish_price).to_f %>
    <% num +=cost %>
      <div class="col-md-4">
        <p><%=User.first(id: s.user_id).name %></p>
      </div>
      <div class="col-md-4">
      <p><%=Dish.first(id: s.dish_id).dish_name %></p>
      </div>
      <div class="col-md-4">
        <p>$<%='%.2f' % Dish.first(id: s.dish_id).dish_price %></p>
      </div>
  <% end %><br><br>
    <div class ="container">
      <div class="row">
        <div class="col-md-4">
        </div>
        <div class="col-md-4">
          <h3>Total Cost: $<%='%.2f' % num %></h3>

          <% if Group.all(event_id: @dinner.id).count != Tab.all(event_id: @dinner.id).count %>
            <font color="red">Waiting on all members in your party to submit their order</font>
            <%else %>
            <input type="submit" value="Submit Request" class="btn btn-primary"><br><br>
          <%end %>
        </div>
      </div>


    </div>

</div>
  </div>